.mycart-product-listing .product-items .price-cancelled{
    font-size: 12px; 
     width:100%;
}

.mycart-product-listing .product-items .product-price-combo{
    width: 40%; 
}

.mycart-product-listing .product-items .price, .mycart-product-listing .product-count, .cart-header_items-count{
    font-size: 14px; 
}

.mycart-product-listing .product-items .product-quantity{
       left: 80px;       
       top : 8px;
}

.product-items .total-price {
    font-size: 14px;
}

.mycart-product-listing #plus, .mycart-product-listing #minus {
 width: 24px;
 height: 24px;
 font-size: 14px;
 padding-top: 2px;
}

.AtcButton_cart__small___1a1kH {
    height: 28px;    
    font-weight: 400;
    font-size: 14px;   
}

.AtcButton_cart__with_text___4C5OY {
    background-color: #43b02b;
}

.AtcButton_cart__with_text___4C5OY:hover {
    background-color: #399625;
}

.AtcButton_cart__with_counter___3YxLq {
    background-color: #43b02b;
}

.AtcButton_cart__container___1RZ9c {
    border-radius: 2px;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 80px;    
}

.AtcButton_cart__button_text___VoXuy {
    width: 100%;
    text-align: center;
}

.AtcButton_cart__small___1a1kH .AtcButton_cart__decrement_button___2ov_L, .AtcButton_cart__small___1a1kH .AtcButton_cart__increment_button___3j3y8 {
    width: 28px;
}

.AtcButton_cart__decrement_button___2ov_L {
    border-radius: 2px 0 0 2px;
}

.AtcButton_cart__decrement_button___2ov_L, .AtcButton_cart__increment_button___3j3y8 {
    height: 100%;
    width: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.AtcButton_cart__small___1a1kH .AtcButton_cart__counter___iR7_X {
    font-size: 14px;
}

.AtcButton_cart__counter___iR7_X {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    font-size: 14px;
}

.AtcButton_cart__increment_button___3j3y8 {
    border-radius: 0 2px 2px 0;
}

.AtcButton_cart__decrement_button___2ov_L:hover, .AtcButton_cart__increment_button___3j3y8:hover {
    background-color: #348a21;
}

.AtcButton_cart__small___1a1kH:hover {
    color: #fff;
}

.addcart-small-block{
    right: 0px;
    bottom: 16px;
    position: absolute;
    left: 80px;
}

#plus, #minus {
    border: 1px solid #36263b;
    color: #000;
}

#plus:hover, #minus:hover {
    border: 1px solid #36263b;
    color: #ffffff;
    background-color: #512e5b;
}

.store-cart-panel .btn {
    font-size: 16px;
}

.clear-cart{
    float: right;
    margin-right: 20px;
    padding-top: 3px;
    border-bottom: 1px dashed #fff;
    cursor: pointer;
}

