@@include('./_partials/header.html')
@@include('./_partials/navbar.html')
<main>
    <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h4 class="section-title">Who We Are</h4>
                    <p class="section-subtitle">A team of passionate agriculture enthusiasts and techies committed to
                        changing farmers' lives by improving their access to fair markets and providing
                        high quality fresh produce to our customers
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="founding-investors">
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h4 class="section-title">Our Founding Investors</h4>
                    <p class="section-subtitle"><q>Combining the best of both worlds in Agriculture and Technology</q>
                    </p>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6 founding-investor form-group">
                    <img src="assets/img/etg.png" alt="Export Trading Group, a KwikBasket Founding Investor">
                    <p class="text-justify">
                        ETG has emerged as one of Africa’s largest Agricultural Conglomerates. ETG’s footprint expands
                        across sub-Saharan Africa, North America, Europe, the Middle East and South East Asian
                        countries. ETG’s multinational operating entities are strategically located across 40 countries
                        and are responsible inter alia for procurement, warehousing, processing and manufacturing of
                        finished goods.
                    </p>
                </div>
                <div class="col-md-6 founding-investor form-group">
                    <img src="assets/img/technobrain_investor.png" alt="Techno Brain Group, a KwikBasket Founding Investor">
                    <p class="text-justify mt-3">
                        Techno Brain is one of the largest IT solutions company in Africa, recognized globally for t’s
                        technology leadership and providing quality software services and products in Enterprise, ID,
                        Tax and Finance domains. Africa 1st as it’s mission, a CMMi Level 5 company has operations in
                        21+ countries with 1200+ people providing innovative digital solutions to public and private
                        sector organizations.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="our-team">
        <div class="container mb-5">
            <div class="row d-flex align-items-center">
                <div class="col-md-6 d-flex flex-column align-items-center">
                    <picture class="mb-4">
                        <source srcset="assets/img/manoj.webp" type="image/webp">
                        <source srcset="assets/img/manoj.png" type="image/png">
                        <img src="assets/img/manoj.png" alt="Manoj Shanker, KwikBasket Chairman">
                    </picture>
                    <p class="mb-1"><strong>Manoj Shanker</strong></p>
                    <p>Chairman, KwikBasket</p>
                </div>
                <div class="col-md-6 text-justify">
                    <blockquote class="wp-block-quote">
                        <p>In 20 years, Techno Brain has emerged as Africa’s leading Digital technology company
                            Empowering
                            Lives of our Customers using disruptive technology. As part of its journey we have launched
                            KwikBasket.com with a vision to build Africa’s largest Data Platform.</p>
                        <p>
                            KwikBasket’s mission is to bring Farmers and Customers together by using the power of Data.
                            We
                            strive to provide better price and access to our farmers which in turn reliable, fresh,
                            properly
                            stored Fruits & Vegetables to our Customers.
                        </p>
                        <p>
                            By 2040 world population will grow from 7 billion to 9 billion and there will be need for 70
                            to
                            100% increase in food production.
                            We will be part of solution to this problem by leveraging habits of consumers and giving
                            reliable data to Farmers to grow specific produce at a fair price in a sustainable way.
                        </p>
                        <p>
                            We are part of Digital Revolution in Agriculture Sector.
                        </p>

                        <cite>Manoj Shanker</cite>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h4 class="section-title">Leadership Team</h4>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/anand.webp" type="image/webp">
                        <source srcset="assets/img/anand.png" type="image/png">
                        <img src="assets/img/anand.png" alt="Anand Mohan, KwikBasket Strategy & Technology">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Anand Mohan</h6>
                        <p class="team-member-role">Founder & CEO</p>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"><a href="https://www.linkedin.com/in/anandnagothu" target="_blank" class="text-decoration-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"></path>
                                </svg>
                            </a></div>
                        <div class="col-md-4"></div>
                    </div>    
                </div>
                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/srinadh.webp" type="image/webp">
                        <source srcset="assets/img/srinadh.png" type="image/png">
                        <img src="assets/img/srinadh.png" alt="Srinadh Kotturu, KwikBasket Co-Founder & COO">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Srinadh Kotturu</h6>
                        <p class="team-member-role">Co-Founder & COO</p>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"><a href="https://www.linkedin.com/in/srinadhkotturu" target="_blank" class="text-decoration-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"></path>
                                </svg>
                            </a></div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/kush.webp" type="image/webp">
                        <source srcset="assets/img/kush.png" type="image/png">
                        <img src="assets/img/kush.png" alt="Kush Shah, KwikBasket Head Of Operations">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Kush Shah</h6>
                        <p class="team-member-role">Head Of Operations</p>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"><a href="https://www.linkedin.com/in/kush-shah-77923651" target="_blank" class="text-decoration-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"></path>
                                </svg>
                            </a></div>
                        <div class="col-md-4"></div>
                    </div>
                </div>

                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/susan.webp" type="image/webp">
                        <source srcset="assets/img/susan.png" type="image/png">
                        <img src="assets/img/susan.png" alt="Susan Wangeci, KwikBasket Quality and Inventory">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Susan Wangeci</h6>
                        <p class="team-member-role">Quality & Inventory</p>
                    </div>
                </div>

                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/paul.png" type="image/png">
                        <img src="assets/img/paul.png" alt="Paul Mburu, KwikBasket Sourcing & Farmer Engagement">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Paul Mburu</h6>
                        <p class="team-member-role">Sourcing & Farmer Engagement</p>
                    </div>
                </div>
                
                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/linda.png" type="image/png">
                        <img src="assets/img/linda.png" alt="Linda Ngoloh, KwikBasket Human Resources & Admin">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Linda Ngoloh</h6>
                        <p class="team-member-role">Human Resources & Admin</p>
                    </div>
                </div>
                
                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/shelia.png" type="image/png">
                        <img src="assets/img/shelia.png" alt="Sheila Sintoiya, KwikBasket Sales & Customer Relations">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Sheila Sintoiya</h6>
                        <p class="team-member-role">Sales & Customer Relations</p>
                    </div>
                </div>
                
                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/amos.png" type="image/png">
                        <img src="assets/img/amos.png" alt="Amos Tum, KwikBasket Stock Controller">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Amos Tum</h6>
                        <p class="team-member-role">Stock Controller</p>
                    </div>
                </div>
                
                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/richord.png" type="image/png">
                        <img src="assets/img/richord.png" alt="Richard Kituyi, KwikBasket Stores & Inventory">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Richard Kituyi</h6>
                        <p class="team-member-role">Stores & Inventory</p>
                    </div>
                </div>
                
                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/carrens.png" type="image/png">
                        <img src="assets/img/carrens.png" alt="Careen Biwott, KwikBasket Quality Assurance">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Careen Biwott</h6>
                        <p class="team-member-role">Quality Assurance</p>
                    </div>
                </div>
                
                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/anthony.png" type="image/png">
                        <img src="assets/img/anthony.png" alt="Anthony Kamau, KwikBasket Logistics">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Anthony Kamau</h6>
                        <p class="team-member-role">Logistics</p>
                    </div>
                </div>
                
                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/duncan.png" type="image/png">
                        <img src="assets/img/duncan.png" alt="Duncan Nyasio, KwikBasket Projects & Compliance">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Duncan Nyasio</h6>
                        <p class="team-member-role">Projects & Compliance</p>
                    </div>
                </div>
                
                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/satish.png" type="image/png">
                        <img src="assets/img/satish.png" alt="Sathish Borker, KwikBasket Chief Finance Officer">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Sathish Borker</h6>
                        <p class="team-member-role">Chief Finance Officer</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</main>
@@include('./_partials/footer-links.html')
@@include('./_partials/footer.html')