@@include('./_partials/header.html')
@@include('./_partials/navbar.html')
<main>
    <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h4 class="section-title">Who We Are</h4>
                    <p class="section-subtitle">A team of passionate agriculture enthusiasts and techies committed to
                        changing farmers' lives by improving their access to fair markets and providing
                        high quality fresh produce to our customers
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="founding-investors">
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h4 class="section-title">Our Founding Investors</h4>
                    <p class="section-subtitle"><q>Combining the best of both worlds in Agriculture and Technology</q>
                    </p>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6 founding-investor form-group">
                    <img src="assets/img/etg.png" alt="Export Trading Group, a KwikBasket Founding Investor">
                    <p class="text-justify">
                        ETG has emerged as one of Africa’s largest Agricultural Conglomerates. ETG’s footprint expands
                        across sub-Saharan Africa, North America, Europe, the Middle East and South East Asian
                        countries. ETG’s multinational operating entities are strategically located across 40 countries
                        and are responsible inter alia for procurement, warehousing, processing and manufacturing of
                        finished goods.
                    </p>
                </div>
                <div class="col-md-6 founding-investor form-group">
                    <img src="assets/img/technobrain_investor.png" alt="Techno Brain Group, a KwikBasket Founding Investor">
                    <p class="text-justify mt-3">
                        Techno Brain is one of the largest IT solutions company in Africa, recognized globally for t’s
                        technology leadership and providing quality software services and products in Enterprise, ID,
                        Tax and Finance domains. Africa 1st as it’s mission, a CMMi Level 5 company has operations in
                        21+ countries with 1200+ people providing innovative digital solutions to public and private
                        sector organizations.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="our-team">
        <div class="container mb-5">
            <div class="row d-flex align-items-center">
                <div class="col-md-6 d-flex flex-column align-items-center">
                    <picture class="mb-4">
                        <source srcset="assets/img/manoj.webp" type="image/webp">
                        <source srcset="assets/img/manoj.png" type="image/png">
                        <img src="assets/img/manoj.png" alt="Manoj Shanker, KwikBasket Chairman">
                    </picture>
                    <p class="mb-1"><strong>Manoj Shanker</strong></p>
                    <p>Chairman, KwikBasket</p>
                </div>
                <div class="col-md-6 text-justify">
                    <blockquote class="wp-block-quote">
                        <p>In 20 years, Techno Brain has emerged as Africa’s leading Digital technology company
                            Empowering
                            Lives of our Customers using disruptive technology. As part of its journey we have launched
                            KwikBasket.com with a vision to build Africa’s largest Data Platform.</p>
                        <p>
                            KwikBasket’s mission is to bring Farmers and Customers together by using the power of Data.
                            We
                            strive to provide better price and access to our farmers which in turn reliable, fresh,
                            properly
                            stored Fruits & Vegetables to our Customers.
                        </p>
                        <p>
                            By 2040 world population will grow from 7 billion to 9 billion and there will be need for 70
                            to
                            100% increase in food production.
                            We will be part of solution to this problem by leveraging habits of consumers and giving
                            reliable data to Farmers to grow specific produce at a fair price in a sustainable way.
                        </p>
                        <p>
                            We are part of Digital Revolution in Agriculture Sector.
                        </p>

                        <cite>Manoj Shanker</cite>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h4 class="section-title">Meet The Team</h4>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/anand.webp" type="image/webp">
                        <source srcset="assets/img/anand.png" type="image/png">
                        <img src="assets/img/anand.png" alt="Anand Mohan, KwikBasket Strategy & Technology">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Anand Mohan</h6>
                        <!--<p class="team-member-role">Strategy & Technology</p>-->
                        <p class="team-member-role">Founder & CEO</p>
                    </div>
                </div>

                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/rachel.webp" type="image/webp">
                        <source srcset="assets/img/rachel.png" type="image/png">
                        <img src="assets/img/rachel.png" alt="Rachel Nyamai, KwikBasket Marketing">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Rachel Nyamai</h6>
                        <p class="team-member-role">Marketing</p>
                    </div>
                </div>

                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/srinadh.webp" type="image/webp">
                        <source srcset="assets/img/srinadh.png" type="image/png">
                        <img src="assets/img/srinadh.png" alt="Srinadh Kotturu, KwikBasket Revenue & Sales">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Srinadh Kotturu</h6>
                        <p class="team-member-role">Revenue & Sales</p>
                    </div>
                </div>

                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/maurice.webp" type="image/webp">
                        <source srcset="assets/img/maurice.png" type="image/png">
                        <img src="assets/img/maurice.png" alt="Maurice Kahiga, KwikBasket Finance & Administration">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Maurice Kahiga</h6>
                        <p class="team-member-role">Finance & Administration</p>
                    </div>
                </div>

                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/susan.webp" type="image/webp">
                        <source srcset="assets/img/susan.png" type="image/png">
                        <img src="assets/img/susan.png" alt="Susan Wangeci, KwikBasket Quality and Inventory">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Susan Wangeci</h6>
                        <p class="team-member-role">Quality & Inventory</p>
                    </div>
                </div>

                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/evanson.webp" type="image/webp">
                        <source srcset="assets/img/evanson.png" type="image/png">
                        <img src="assets/img/evanson.png" alt="Evanson Ndambiri, KwikBasket Farmer Engagement">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Evanson Ndambiri</h6>
                        <p class="team-member-role">Farmer Engagement</p>
                    </div>
                </div>

                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/simon.webp" type="image/webp">
                        <source srcset="assets/img/simon.png" type="image/png">
                        <img src="assets/img/simon.png" alt="Simon Kuria, KwikBasket Procurement">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Simon Kuria</h6>
                        <p class="team-member-role">Procurement</p>
                    </div>
                </div>

                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/kush.webp" type="image/webp">
                        <source srcset="assets/img/kush.png" type="image/png">
                        <img src="assets/img/kush.png" alt="Kush Shah, KwikBasket Sourcing & Partnerships">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Kush Shah</h6>
                        <p class="team-member-role">Sourcing & Partnerships</p>
                    </div>
                </div>

                <div class="col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/mwakisha.webp" type="image/webp">
                        <source srcset="assets/img/mwakisha.png" type="image/png">
                        <img src="assets/img/mwakisha.png" alt="Baraka Mwakisha, KwikBasket User Experience">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Baraka Mwakisha</h6>
                        <p class="team-member-role">User Experience</p>
                    </div>
                </div>

                <div class="offset-md-4 col-md-4 form-group team-member">
                    <picture>
                        <source srcset="assets/img/charles.webp" type="image/webp">
                        <source srcset="assets/img/charles.png" type="image/png">
                        <img src="assets/img/charles.png" alt="Charles Muchoki, KwikBasket Logistics Operations">
                    </picture>
                    <div class="team-member-info">
                        <h6 class="team-member-name">Charles Muchoki</h6>
                        <p class="team-member-role">Logistics Operations</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@@include('./_partials/footer-links.html')
@@include('./_partials/footer.html')