@@include('./_partials/header.html')
@@include('./_partials/navbar.html')
<main>
   <section id="blog">
       <div class="container">
        <div class="row">
            <div class="section-header col-md-12">
                <h4 class="section-title">From The Blog</h4>
                <p class="section-subtitle">No blogs yet, but we're working on it :)
                </p>
            </div>
        </div>
       </div>
   </section>
</main>
@@include('./_partials/footer-links.html')
@@include('./_partials/footer.html')