@@include('./_partials/header.html')
@@include('./_partials/navbar.html')
<main>
   <section id="blog">
       <div class="container">
        <div class="row">
            <div class="section-header col-md-12">
                <h4 class="section-title">From The Blog</h4>
                <!-- <p class="section-subtitle">No blogs yet, but we're working on it :)
                </p> -->
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4 form-group">
                <iframe
                src="https://www.youtube.com/embed/lvkZb06Nizw">
                </iframe> 
            </div>
            <div class="col-md-4 form-group">
                <iframe
                src="https://www.youtube.com/embed/KoFS_zLd3Ao">
                </iframe> 
            </div>
            <div class="col-md-4 form-group">
                <iframe
                src="https://www.youtube.com/embed/nQiww5BA3ec">
                </iframe> 
            </div>
            <div class="col-md-4 form-group">
                <iframe
                src="https://www.youtube.com/embed/H-Ks_EPiWsg">
                </iframe> 
            </div>
        </div>
       </div>
   </section>
</main>
@@include('./_partials/footer-links.html')
@@include('./_partials/footer.html')