@@include('./_partials/header.html')
@@include('./_partials/navbar.html')
<main>
   <section id="blog">
       <div class="container">
        <div class="row">
            <div class="section-header col-md-12">
                <h4 class="section-title">From The Blog</h4>
                <!-- <p class="section-subtitle">No blogs yet, but we're working on it :)
                </p> -->
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4 form-group d-flex flex-column justify-content-center align-items-center">
                <iframe
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                width="360"
                height="200"
                src="https://www.youtube.com/embed/H-Ks_EPiWsg">
                </iframe>
                <h6 class="text-center mt-3">Digital Agriculture with Anand Mohan</h6> 
            </div>
            <div class="col-md-4 form-group d-flex flex-column justify-content-center align-items-center">
                <iframe
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                width="360"
                height="200"
                src="https://www.youtube.com/embed/nQiww5BA3ec">
                </iframe>
                <h6 class="text-center mt-3">How Artificial Intelligence Enhances Customer Experience</h6>  
            </div>
            <div class="col-md-4 form-group d-flex flex-column justify-content-center align-items-center">
                <iframe
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                width="360"
                height="200"
                src="https://www.youtube.com/embed/KoFS_zLd3Ao">
                </iframe> 
                <h6 class="text-center mt-3">Digital Agricultural solution for food sustainability</h6>
            </div>
            <div class="col-md-4 form-group d-flex flex-column justify-content-center align-items-center">
                <iframe
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                width="360"
                height="200"
                src="https://www.youtube.com/embed/lvkZb06Nizw">
                </iframe> 
                <h6 class="text-center mt-3">Adoption of IoT in Kenya</h6>
            </div>
            <div class="col-md-4 form-group d-flex flex-column justify-content-center align-items-center">
                <iframe
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                width="360"
                height="200"
                src="https://www.youtube.com/embed/xu5ySDAW1MY">
                </iframe> 
                <h6 class="text-center mt-3">Blockchain Revolution</h6>
            </div>
            <div class="col-md-4 form-group d-flex flex-column justify-content-center align-items-center">
                <iframe
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                width="360"
                height="200"
                src="https://www.youtube.com/embed/PwSBDOHMmt0">
                </iframe> 
                <h6 class="text-center mt-3">Mixed reality is ready for business</h6>
            </div>
        </div>
       </div>
   </section>
</main>
@@include('./_partials/footer-links.html')
@@include('./_partials/footer.html')