@@include('./_partials/header.html')
@@include('./_partials/navbar.html')
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<main>
    <section id="careers">
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h4 class="section-title">Careers</h4>
                    <p class="section-subtitle">
                        Our team is made up of all kinds of nerds, from Software Engineers to Finance Gurus, UI/UX
                        Designers to Customer Success Experts. Looking to work with us?
                        We'd love to have you on our team!
                    </p>
                </div>
            </div>

            <?php if(count($jobpositions) == 0) { ?>
            <div class="row mt-4">
                <div class="col-md-12">
                    <form id="careers-form">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="careers-first-name">First Name</label>
                                <input required type="text" class="form-control rounded-0" id="careers-first-name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="careers-last-name">Last Name</label>
                                <input required type="text" class="form-control rounded-0" id="careers-last-name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="careers-designation">Desired Role</label>
                                <input required type="text" class="form-control rounded-0" id="careers-designation">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="careers-about-yourself">Tell us about yourself</label>
                                <textarea id="careers-about-yourself" cols="30" rows="10" class="form-control">
                                </textarea>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <div class="col-md-12 d-flex justify-content-center">
                                <div class="g-recaptcha" data-sitekey="<?= $site_key ?>"></div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-12 text-center">
                                <button id="careers-submit-button" class="btn btn-secondary rounded-0 mt-4 px-5 py-2">
                                    SUBMIT
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <?php } else { ?>
            <div class="row mt-5">
                <?php foreach($jobpositions as $position) { ?>
                <div class="col-md-4 form-group">
                    <div class="job-box bg-white p-0">
                        <div class="p-4">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div>
                                        <h6><?= $position['job_type'] ?></h6>
                                        <p class="text-muted mb-0"><?= $position['job_category'] ?></p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <p class="text-muted text-center mb-0"><i
                                                class="fa fa-map-marker primary-text mr-2"></i><?= $position['job_location'] ?>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-3 bg-light">
                            <div class="row">
                                <div class="col-md-8">
                                    <div>
                                        <p class="text-muted mb-0 mo-mb-2"><?= $position['experience'] ?> <span
                                                class="text-muted"> Experience</span></p>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-items-center justify-content-center">
                                    <div>
                                        <a href="<?= BASE_URL." /index.php?path=common/home/job_opening_details&id=" ?><?php echo $position['job_id'] ; ?>">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <?php } ?>
            </div>
            <?php } ?>
        </div>
    </section>
</main>
@@include('./_partials/footer-links.html')
@@include('./_partials/footer.html')