@@include('./_partials/header.html')
@@include('./_partials/navbar.html')
<main>
    <section id="careers">
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h4 class="section-title">Careers</h4>
                    <p class="section-subtitle">
                        Our team is made up of all kinds of nerds, from Software Engineers to Finance Gurus, UI/UX
                        Designers to Customer Success Experts. Looking to work with us?
                        We'd love to have you on our team!
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12">
                    <form id="careers-form">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="careers-first-name">First Name</label>
                                <input required type="text" class="form-control rounded-0" id="careers-first-name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="careers-last-name">Last Name</label>
                                <input required type="text" class="form-control rounded-0" id="careers-last-name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="careers-designation">Desired Role</label>
                                <input required type="text" class="form-control rounded-0" id="careers-designation">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="careers-about-yourself">Tell us about yourself</label>
                                <textarea id="careers-about-yourself" cols="30" rows="10" class="form-control">
                                </textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 text-center">
                                <button id="careers-submit-button" class="btn btn-secondary rounded-0 mt-4 px-5 py-2">
                                    SUBMIT
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
@@include('./_partials/footer-links.html')
@@include('./_partials/footer.html')