@@include('./_partials/header.html')
@@include('./_partials/navbar.html')
<main>
    <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h4 class="section-title">COVID-19 Precautionary Measures</h4>
                    <p class="section-subtitle">
                        Our customers' safety is our priority. To curb the spread of the Coronavirus, we have made all our
                        deliveries contactless. All our personnel are regularly tested for the virus and prevention measures
                        such as wearing of masks and sanitization are upheld at all our premises. We are also only taking
                        electronic payments such as mobile money or bank transfers.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section style="background-color: #fff">
        <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex flex-column justify-content-center align-items-center">
                <h4><strong>STAY HOME, STAY SAFE</strong></h4>
                <img class="mt-4" width="50%" src="assets/img/covid-prevention.jpg" alt="COVID-19 Prevention Measures">
            </div>
        </div>
    </div>
</section>
</main>
@@include('./_partials/footer-links.html')
@@include('./_partials/footer.html')