@@include('./_partials/header.html')
@@include('./_partials/navbar.html')
<main>
    <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h4 class="section-title">COVID-19 Precautionary Measures</h4>
                    <p class="section-subtitle">
                        Our customers' safety is our priority. To curb the spread of the Coronavirus, we have made all
                        our
                        deliveries contactless. All our personnel are regularly tested for the virus and prevention
                        measures
                        such as wearing of masks and sanitization are upheld at all our premises. We are also only
                        taking
                        electronic payments such as mobile money or bank transfers.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section style="background-color: #fff">
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex flex-column justify-content-center align-items-center">
                    <h5>Stay Home, Stay Safe</h5>
                    <img class="mt-5" width="50%" src="assets/img/contactless-delivery.svg"
                        alt="COVID-19 Prevention Measures">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-header">
                    <h4 class="section-title">Here's what we're doing on our end</h4>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6 d-flex align-items-center flex-column">
                    <h6>Facility Operations</h6>
                    <ol class="text-justify mt-2" style="list-style:lower-roman; max-width: 40ch;">
                        <li>
                            Signs are posted on how to stop the spread of COVID-19 and promote everyday protective
                            measures
                        </li>
                        <li>
                            All areas of our food establishment, including restrooms and waiting areas are properly
                            cleaned, stocked, sanitized and disinfected
                        </li>
                        <li>
                            Ventilation systems including air ducts and vents in the facility are clean, free of mold,
                            and operating properly
                        </li>
                        <li>
                            Staff are properly trained on cleaning procedures to ensure safe and correct application of
                            disinfectants
                        </li>
                        <li>
                            A disinfection schedule or routine plan has been developed. We ensure sufficient stocks of
                            cleaning and disinfecting supplies to accommodate ongoing cleaning and disinfection.
                        </li>
                    </ol>
                </div>
                <div class="col-md-6 d-flex align-items-center flex-column">
                    <h6>Employee Health / Screening</h6>
                    <ol class="text-justify mt-2" style="list-style:lower-roman; max-width: 40ch;">
                        <li>
                            We have a protocol to check employee health and personal hygiene practices within our establishment
                        </li>
                        <li>
                            We are following the Ministry of Health's guidance and practices for employee health checks and screenings
                        </li>
                        <li>
                           There is a plan to monitor and respond to a higher than normal level of absenteeism
                        </li>
                        <li>
                            There is a policy for, and an adequate supply of, personal protective equipment (PPE) and/or cloth face coverings for our employees
                        </li>
                        <li>
                            We have restricted the number of employees in shared spaces, including kitchens, break rooms, and offices to maintain at least a 6-foot distance between people
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
</main>
@@include('./_partials/footer-links.html')
@@include('./_partials/footer.html')