@@include('./_partials/header.html')
@@include('./_partials/navbar.html')
<main>
    <section id="faq">
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h4 class="section-title">Frequently Asked Questions</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="accordion" class="py-5">
                        <div class="card border-0">
                            <div class="card-header p-0 border-0" id="heading-238">
                                <button class="btn btn-link accordion-title border-0 collapse" data-toggle="collapse"
                                    data-target="#collapse-238" aria-expanded="true" aria-controls="#collapse-238"><i
                                        class="fas fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>Where
                                    do you deliver?</button>
                            </div>
                            <div id="collapse-238" class="collapse show" aria-labelledby="heading-238"
                                data-parent="#accordion">
                                <div class="card-body accordion-body">
                                    <p>We do deliveries all over Nairobi</p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <div class="card-header p-0 border-0" id="heading-239">
                                <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse"
                                    data-target="#collapse-239" aria-expanded="false" aria-controls="#collapse-239"><i
                                        class="fas fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>How
                                    do I create an account? </button>
                            </div>
                            <div id="collapse-239" class="collapse " aria-labelledby="heading-239"
                                data-parent="#accordion">
                                <div class="card-body accordion-body">
                                    <p>
                                        You're welcome to create an account by visiting kwikbasket.com or iPhone or Android
                                        app using your email address.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <div class="card-header p-0 border-0" id="heading-240">
                                <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse"
                                    data-target="#collapse-240" aria-expanded="false" aria-controls="#collapse-240"><i
                                        class="fas fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>How can i pay?</button>
                            </div>
                            <div id="collapse-240" class="collapse " aria-labelledby="heading-240"
                                data-parent="#accordion">
                                <div class="card-body accordion-body">
                                    <p>
                                        You can pay via Credit Card, Cash on Delivery, mPesa and mPesa on Delivery
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <div class="card-header p-0 border-0" id="heading-241">
                                <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse"
                                    data-target="#collapse-241" aria-expanded="false" aria-controls="#collapse-241"><i
                                        class="fas fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>Do you charge for delivery?</button>
                            </div>
                            <div id="collapse-241" class="collapse " aria-labelledby="heading-240"
                                data-parent="#accordion">
                                <div class="card-body accordion-body">
                                    <p>
                                        No. Enjoy free deliveries with all your orders during this pandemic period.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@@include('./_partials/footer-links.html')
@@include('./_partials/footer.html')