@@include('./_partials/header.html')
@@include('./_partials/navbar.html')
<main>
    <section id="faq">
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h4 class="section-title">Frequently Asked Questions</h4>
                </div>
            </div>

            <?php foreach($data as $category) { ?>
            <div class="row">
                <div class="col-md-12">
                    <div id="accordion" class="py-3">
                        <h6 class="mb-3"><strong><?= $category['category'] ?></strong></h6>
                        <?php foreach($category['questions'] as $faq) { ?>
                            <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="card-header p-0 border-0" id="heading-<?= $faq['help_id'] ?>">
                                    <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse"
                                        data-target="#collapse-<?= $faq['help_id'] ?>" aria-expanded="false" aria-controls="#collapse-<?= $faq['help_id'] ?>"><i
                                            class="fas fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>
                                            <?= $faq['question'] ?>
                                        </button>
                                </div>
                                <div id="collapse-<?= $faq['help_id'] ?>" class="collapse " aria-labelledby="heading-<?= $faq['help_id'] ?>"
                                    data-parent="#accordion">
                                    <div class="card-body accordion-body">
                                        <p>
                                            <?= $faq['answer'] ?>
                                        </p>
                                    </div>
                                </div>
                            </div>    
                        <?php } ?>
                    </div>
                </div>
            </div>

            <?php } ?>
        </div>
    </section>
</main>
@@include('./_partials/footer-links.html')
@@include('./_partials/footer.html')