@@include('./_partials/header.html')
@@include('./_partials/navbar.html')
<main>
    <section id="farmer-engagement">
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h4 class="section-title">Farmer Engagement</h4>
                    <p class="section-subtitle">
                        Digital Agriculture is the use of new and advanced technologies and integrated systems, to
                        enable farmers and other stakeholders within the agricultural value chain.
                        We use Artificial Intelligence (AI) to help farmers determine the optimal date to sow crops, precisely
                        allocate resources such as water, fertilizer, identify crop diseases for swifter treatment, and
                        early detection. We also help farmers forecast crop seasons using historic
                        production data, long-term weather forecasts, genetically modified seed information, and
                        commodity pricing predictions. Financially, we support farmers by providing them with crop insurance plans
                        and soft loans.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="crop-cycle">
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h4 class="section-title">Comprehensive Insights For Entire Crop Cycle</h4>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                    <img src="assets/img/farmer-crop-cycle.png" alt="KwikBasket Comprehensive Insights For Entire Crop Cycle">
                </div>
            </div>
    
            <div class="row mt-5">
                <div class="col-md-12 d-flex flex-column justify-content-center align-items-center">
                    <p>Become a KwikBasket farmer today and enjoy higher yields and better returns</p>
                    <a href='<?= BASE_URL."/index.php?path=account/login/farmer" ?>' class="btn btn-primary btn-cta">
                        Sell Us
                        Your Produce</a>
                </div>
            </div>
        </div>
    </section>
</main>
@@include('./_partials/footer-links.html')
@@include('./_partials/footer.html')