@@include('./_partials/header.html')
@@include('./_partials/navbar.html')
<main>
    <section id="hero">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="hero-title"><span class="primary-text">Save time, </span><span class="secondary-text">Get
                value</span></h1>
            <p class="hero-subtitle">
              Fresh produce from the farm, to your doorstep
            </p>
            <p class="hero-description">
              Enabled by technology, we source and deliver high quality fresh produce from farms, round the clock
            </p>
            <a href='<?= BASE_URL."/index.php?path=account/login/customer" ?>' class="btn btn-primary btn-cta mt-2">Place Your Order</a>
          </div>
        </div>
      </div>
    </section>

    <section id="kwikbasket-promise">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4 class="section-header">Making technology work for businesses and farmers <br>
              in the fresh produce supply chain
            </h4>
          </div>
        </div>
      </div>
      <a href="https://play.google.com/store/apps/details?id=com.kwikbasket.customer" class="btn app-download-btn">
        <i class="fa fa-android"></i>&nbsp;&nbsp;&nbsp;&nbsp;Download the App
      </a>
    </section>

    <section id="order-cycle">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-12">
            <h4 class="section-header">Here's how we make the magic happen</h4>
          </div>
        </div>
        <div class="row order-step form-group">
          <div class="col-md-6 text-center">
            <img src="assets/img/order.svg" alt="KwikBasket Customer Online Order">
          </div>
          <div class="col-md-6 step-content">
              <h5 class="step-title"><span class="primary-text">Order placement</span></h5>
              <p class="step-description">Using our mobile app or web platform
                customers have the ability to place 
               orders round the clock and customize 
               their in app experience to their heart's content,
               all thanks to our AI models</p>
          </div>
        </div>
        <div class="row order-step form-group">
          <div class="col-md-6 order-first order-md-last text-center">
            <img src="assets/img/farmer-sourcing.svg" alt="KwikBasket Farmer Sourcing">
          </div>
          <div class="col-md-6  step-content">
            <h5 class="step-title"><span class="primary-text">Produce Sourcing</span></h5>
            <p class="step-description">We learn your preferences better the more you 
              use our platform. Immediately you place an 
              order, a matching algorithm determines the farmer 
              we will source your produce from</p>
        </div>
        </div>
        <div class="row order-step form-group">
          <div class="col-md-6 text-center">
            <img src="assets/img/order-preparation.svg" alt="KwikBasket Order Preparation">
          </div>
          <div class="col-md-6 step-content">
              <h5 class="step-title"><span class="primary-text">Order Prepation</span></h5>
              <p class="step-description">After sourcing, we perform a quality check
                and prepare your produce for delivery. This
                process is fully digitized for quick turnarounds</p>
          </div>
        </div>
        <div class="row order-step form-group">
          <div class="col-md-6 order-first order-md-last text-center">
            <img src="assets/img/order-delivery.svg" alt="KwikBasket Order Delivery">
          </div>
          <div class="col-md-6 step-content">
              <h5 class="step-title"><span class="primary-text">Kwik Delivery</span></h5>
              <p class="step-description">Everyday at 6AM, we start deliveries with IOT 
                tracking in all our vehicles. On received your 
                ordered produce, you sign digitally and all
                payment settlements are conveniently completed
                online</p>
          </div>
        </div>
      </div>
    </section>
  </main>
  @@include('./_partials/footer-links.html')
@@include('./_partials/footer.html')