@@include('./_partials/header.html')
@@include('./_partials/navbar.html')
<main>
  <section id="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex flex-column align-items-center text-center">
          <h1 class="hero-title anim-from-top"><span class="primary-text">Save time, </span><span
              class="secondary-text">Get
              value</span></h1>
          <div class="anim-from-bottom">
            <p class="hero-subtitle">
              With fresh produce straight from farms
            </p>
            <p class="hero-description">
              We are refining the agricultural and consumer space in Africa using Big Data and Machine Learning
            </p>
            <a href='<?= BASE_URL."/index.php?path=account/login/customer" ?>' class="btn btn-primary btn-cta mt-2"
              data-scroll>Place an Order</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="what-we-do">
    <div class="container">
      <div class="row">
        <div class="section-header col-md-12">
          <h4 class="section-title">Creating technology that works for farmers and consumers</h4>
          <p class="section-subtitle">We are a team of passionate agriculture enthusiasts and techies committed to
            changing farmers'
            lives by improving their access to fair markets and providing high quality fresh produce to our customers
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="existing-clients">
    <div class="container">
      <div class="row">
        <div class="section-header col-md-12">
          <h4 class="section-title">Customers who already trust us</h4>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-2 form-group d-flex justify-content-center align-items-center">
          <img src="assets/img/caribea.png" alt="Caribea, a KwikBasket Client" class="client-logo">
        </div>
        <div class="col-md-2 form-group d-flex justify-content-center align-items-center">
          <img src="assets/img/cedars.png" alt="Cedars, a KwikBasket Client" class="client-logo">
        </div>
        <div class="col-md-2 form-group d-flex justify-content-center align-items-center">
          <img src="assets/img/mayura.png" alt="Mayura, a KwikBasket Client" class="client-logo">
        </div>
        <div class="col-md-2 form-group d-flex justify-content-center align-items-center">
          <img src="assets/img/pallet-cafe.png" alt="Pallet Cafe, a KwikBasket Client" class="client-logo">
        </div>
        <div class="col-md-2 form-group d-flex justify-content-center align-items-center">
          <img src="assets/img/pizza-corner.png" alt="Pizza Corner, a KwikBasket Client" class="client-logo">
        </div>
        <div class="col-md-2 form-group d-flex justify-content-center align-items-center">
          <img src="assets/img/strathmore.png" alt="Strathmore University, a KwikBasket Client" class="client-logo">
        </div>
      </div>
      <div class="row">
       
      </div>
    </div>
  </section>

  <section id="order-cycle">
    <div class="container">
      <div class="row mb-4">
        <div class="section-header col-md-12" data-scroll>
          <h4 class="section-title">Here's how we make the magic happen</h4>
        </div>
      </div>
      <div class="row order-step form-group">
        <div class="col-md-6 text-center">
          <img src="assets/img/order.svg" alt="KwikBasket Customer Online Order">
        </div>
        <div class="col-md-6 step-content" data-scroll>
          <h5 class="step-title">We're always getting to know you</h5>
          <p class="step-description">Customers place orders on our mobile app and web platform round the clock. Using
            Artificial Intelligence, <mark>we learn your preferences and
              customize your in app experience</mark> making placing orders quick and hassle free. Don't believe us?</p>
          <a href='<?= BASE_URL."/index.php?path=account/login/customer" ?>' class="btn btn-primary btn-cta mt-2">Place
            Your Order</a>

        </div>
      </div>
      <div id="farmers" class="row order-step form-group">
        <div class="col-md-6 order-first order-md-last text-center">
          <img src="assets/img/farmer-sourcing.svg" alt="KwikBasket Farmer Sourcing">
        </div>
        <div class="col-md-6  step-content" data-scroll>
          <h5 class="step-title">Everyday is payday for our farmers</h5>
          <p class="step-description">
            We're always engaging farmers. We continuosly collect and analyze our customers' data, understanding their
            purchasing habits inside out.
            With this data, <mark>we advise farmers on what to plant, in what quantities and when to do so.</mark>
            Better yet, we pay our farmers fairly, immediately we source
            produce from them!
          </p>
          <a href='<?= BASE_URL."/index.php?path=account/login/farmer" ?>' class="btn btn-primary btn-cta mt-2">Sell
            Your Produce</a>
        </div>
      </div>
      <div class="row order-step form-group">
        <div class="col-md-6 text-center">
          <img src="assets/img/order-preparation.svg" alt="KwikBasket Order Preparation">
        </div>
        <div class="col-md-6 step-content" data-scroll>
          <h5 class="step-title">We never compromise on quality</h5>
          <p class="step-description">
            No one likes deformed fruits or vegetables soaked in pesticides.
            We've got your back. <mark>We perform mulitple quality checks
              before cleaning and packaging your produce for delivery.</mark> This
            process is fully digitized for quick turnarounds.
          </p>
        </div>
      </div>
      <div class="row order-step form-group">
        <div class="col-md-6 order-first order-md-last text-center">
          <img src="assets/img/order-delivery.svg" alt="KwikBasket Order Delivery">
        </div>
        <div class="col-md-6 step-content" data-scroll>
          <h5 class="step-title">Kwik Orders, Kwik Deliveries</h5>
          <p class="step-description">
            What if we told you it's possible to do a background check on your veggies?
            We use IoT devices and sensors all across our supply chain. These enable our customers to not only
            <mark>track delivery progress</mark> but also <mark>know what environmental conditions the produce
              is being subjected to while in transit.</mark>
          </p>
          <a href='<?= BASE_URL."/index.php?path=account/login/customer" ?>' class="btn btn-primary btn-cta mt-2">Track
            Your Order</a>
        </div>
      </div>
    </div>
  </section>

  <section id="partners">
    <div class="container">
      <div class="row">
        <div class="section-header col-md-12">
          <h4 class="section-title">Some of our select partners</h4>
          <p class="section-subtitle">
            Our partners are companies involved in the fresh produce agriculture supply chain.
            We've partnered with suppliers, logistics providers, cold storage facilities, 
            farmer insurance brokers, seed suppliers, soil testing experts and 
            agricultural research organizations.
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4 form-group d-flex justify-content-center align-items-center">
          <img src="assets/img/etg.png" alt="Export Trading Group, a KwikBasket Partner" class="partner-logo">
        </div>
        <div class="col-md-4 form-group d-flex justify-content-center align-items-center">
          <img src="assets/img/technobrain.png" alt="Techno Brain Group, a KwikBasket Partner" class="partner-logo">
        </div>
        <div class="col-md-4 form-group d-flex justify-content-center align-items-center">
          <img src="assets/img/bigcold.png" alt="BigCold, a KwikBasket Partner" class="partner-logo">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group d-flex justify-content-center align-items-center">
          <img src="assets/img/fruitbox.png" alt="Fruit Box, a KwikBasket Partner" class="partner-logo">
        </div>
        <div class="col-md-4 form-group d-flex justify-content-center align-items-center">
          <img src="assets/img/quatrix.png" alt="Quatrix, a KwikBasket Partner" class="partner-logo">
        </div>
        <div class="col-md-4 form-group d-flex justify-content-center align-items-center">
          <img src="assets/img/fresh2go.png" alt="Fresh2Go, a KwikBasket Partner" class="partner-logo">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <a href='<?= BASE_URL."/index.php?path=common/home/partners" ?>' class="btn btn-primary btn-cta mt-2">Partner With Us</a>
        </div>
      </div>
    </div>
  </section>

  <section id="app-download">
    <div class="container">
      <div class="row mb-3">
        <div class="col-md-12 text-center d-flex flex-row justify-content-center">
          <h5 class="text-white">Use our app and enjoy free deliveries</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex flex-row justify-content-center">
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.kwikbasket.customer">
            <img width="130" src="assets/img/badge-google-play.png" alt="KwikBasket application on Google Play">
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
@@include('./_partials/footer-links.html')
@@include('./_partials/footer.html')