@@include('./_partials/header.html')
@@include('./_partials/navbar.html')
<main>
    <section id="careers">
        <div class="container">
            <div class="row">

            </div>
            <div class="row mt-4">


            </div>
            <div class="row mt-5">

                <div class="col-md-12 mt-3">
                    <img src="../../../image/data/thank-you.jpg" alt="Application Received" width="100%" >
                </div>
            </div>
        </div>
    </section>
</main>
@@include('./_partials/footer-links.html')
@@include('./_partials/footer.html')