@@include('./_partials/header.html')
<main>
    <div class="auth-layout-wrap">
        <div class="auth-content">
            <div class="card o-hidden">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-4">
                            <div class="auth-logo text-center mb-4">
                                <a class="base_url" href='<?= BASE_URL."/index.php" ?>'>
                                    <img src="assets/img/logo.svg" class="logo" alt="KwikBasket Logo">
                                </a>
                            </div>
                            <h1 class="mb-2 auth-card-header">Log In</h1>
                            <form>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" id="login-email" aria-describedby="emailHelp">
                                  </div>
                                  <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="login-password">
                                  </div>
                                  <button id="login-button" class="btn btn-primary mt-1 btn-block">LOGIN</button>
                            </form>
                            <div class="mt-3 text-center"><a href='<?= BASE_URL."/index.php?path=account/login/newCustomer" ?>' class="btn">Create An Account</a></div>
                            <div class="mt-3 text-center"><a href="#" class="text-muted"><u>Forgot
                                        Password?</u></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@@include('./_partials/footer.html')