@@include('./_partials/header.html')
@@include('./_partials/navbar.html')
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<main>
    <section id="partnership-programme">
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h4 class="section-title">Partners & Alliances</h4>
                    <p class="section-subtitle">
                        KwikBasket’s strategic partnerships strengthen our resolve to build, innovate and grow. Our
                        products, solutions and services are strengthened by alliances with leading technology
                        and agriculture partners. These partnerships have seen KwikBasket diversifying its portfolio
                        with offers that address the fast-growing markets.
                        We work with partners to increase their addressable market; boost their revenue growth,
                        facilitate sales process, and enhance product and service offerings.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="partners">
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h4 class="section-title">Some of our select partners</h4>
                    <p class="section-subtitle">
                        Our partners are companies involved in the fresh produce agriculture supply chain.
                        We've partnered with suppliers, logistics providers, cold storage facilities,
                        farmer insurance brokers, seed suppliers, soil testing experts and
                        agricultural research organizations.
                    </p>
                </div>
            </div>
            <div class="container text-center">
                <div class="row mx-auto my-auto">
                    <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
                        <div class="carousel-inner w-100" role="listbox">
                            <div class="carousel-item active">
                                <div class="col-lg-4 col-md-6">
                                    <img class="img-fluid" src="assets/img/partners/giz.png" alt="SAIS GIZ Program, a KwikBasket Partner">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-4 col-md-6">
                                    <img class="img-fluid" src="assets/img/partners/pifs.png" alt="Partners and Food Solutions, a KwikBasket Partner">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-4 col-md-6">
                                    <img class="img-fluid" src="assets/img/partners/amitruck.png" alt="AmiTruck, a KwikBasket Partner">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-4 col-md-6">
                                    <img class="img-fluid" src="assets/img/partners/avocadosocietykenya.png" alt="Avocado Society of Kenya, a KwikBasket Partner">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-4 col-md-6">
                                    <img class="img-fluid" src="assets/img/partners/gizone.png" alt="1 GIZ, a KwikBasket Partner">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="partner-registration">
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h4 class="section-title">Partner With Us</h4>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12">
                    <form id="partner-registration-form">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="partner-first-name">First Name</label>
                                <input required type="text" class="form-control rounded-0" id="partner-first-name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="partner-last-name">Last Name</label>
                                <input required type="text" class="form-control rounded-0" id="partner-last-name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="partner-designation">Designation</label>
                                <input required type="text" class="form-control rounded-0" id="partner-designation">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="partner-company-name">Company Name</label>
                                <input required type="text" class="form-control rounded-0" id="partner-company-name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="partner-email">Email</label>
                                <input required type="email" class="form-control rounded-0" id="partner-email">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="partner-phone">Phone</label>
                                <input required type="text" class="form-control rounded-0" id="partner-phone">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="partner-description">Briefly describe how you'd like to work with us</label>
                                    <textarea class="form-control" id="partner-description" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <div class="col-md-12 d-flex justify-content-center">
                                <div class="g-recaptcha" data-sitekey="<?= $site_key ?>"></div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-12 text-center">
                                <button id="partner-registration-button" class="btn btn-secondary rounded-0 mt-4 px-5 py-2">
                                    SUBMIT
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
@@include('./_partials/footer-links.html')
@@include('./_partials/footer.html')