@@include('./_partials/header.html')
@@include('./_partials/navbar.html')
<main>
    <section id="technology">
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h4 class="section-title">Our Technology</h4>
                    <p class="section-subtitle">
                        The evolution of digital technology has changed the horizons of ecommerce industry all over the
                        world. The consumer no longer buys the same way, and the companies no longer sell the same. But
                        in the case of the Business to Business industry there is another type of relationship that is
                        without end-customers or consumers, but between two business entities.
                        KwikBasket has adopted digital services & technologies to get in touch with targeted
                        corporate/ institutional buyers.
                        our customers get quality fresh produce from farmers at their doorstep with customized pricing.
                        With IoT and Digital Agriculture backend systems our customers and farmers always get benefited
                        with our products and services.
                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h6><strong>Internet Of Things</strong></h6>
                    <p>The Internet of Things shows its potential to the fullest in our supply chain process. Our
                        Delivery Management, Operations, forecasting, and oversight help us improve in our operational
                        efficiency of distribution and brings transparency to our customers.</p>
                    <p>
                        Tracking and monitoring are the main objectives in our IoT Systems, here are the most prominent
                        effects of IoT on our supply chain,
                    </p>
                    <ul>
                        <li>
                            <span class="primary-text"><strong>Real-time Tracking</strong></span>
                            <p>
                                Our Operations teams get real-time data regarding the location of our delivery vehicles,
                                in-bound arrivals and the environment. We are alerted if the orders shipped are moving
                                in the right direction to our customer delivery points. Our customers get notified about
                                the arrival of their orders in real-time.
                            </p>
                        </li>
                        <li>
                            <span class="primary-text"><strong>Storage condition monitoring</strong></span>
                            <p>
                                Our fulfilment centers are equipped with environmental sensors. Our supply chain team
                                can monitor the environment and other factors that could compromise the product’s
                                integrity.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>
@@include('./_partials/footer-links.html')
@@include('./_partials/footer.html')