@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('../fonts/BwModelica-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('../fonts/BwModelica-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('../fonts/BwModelica-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NeurialGrotesk';
    src: url('../fonts/NeurialGrotesk-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeurialGrotesk';
    src: url('../fonts/NeurialGrotesk-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NeurialGrotesk';
    src: url('../fonts/NeurialGrotesk-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'NeurialGrotesk', sans-serif;
}
