.loader, .login-loader, .signup-loader, .load-more-loader, .confirm-order-loader {
   margin: 0 auto;
    position: relative;
    border: 4px solid #EEE;
    border-top: 4px solid #CCC;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    display: inline-block;
    animation: spin .6s infinite linear;
    -webkit-animation: spin .6s infinite linear;
}
.forget-password {
  margin-top: 4px;
    float: right;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
div.required .control-label:not(span)::before, td.required::before {
  color: #f00;
  content: "* ";
  font-weight: bold;
}
.alert-info {
	color: #fafbfa;
    background-color: #522e5b;
    border-color: #522e5b;
}
/*.alert{
	border-radius: 0px;
	padding: 7px;
	margin-bottom: 0px;
}*/
.notice-text {
	text-align: center;
    font-size: 14px;
    font-weight: 800;
}
.category-header {min-height: 16px;}
body { font-family: 'Hind', sans-serif; color: #848684; font-size: 14px; line-height: 1.6; -webkit-font-smoothing: antialiased; font-weight: 500; }
h1, h2, h3, h4, h5, h6 { color: #fff; margin: 0px 0px 5px 0px; text-align: center }
h1 { font-size: 30px; }
h2 { font-size: 20px; }
h3 { font-size: 15px; line-height: 24px; }
h4 { font-size: 13px; }
h5 { }
h6 { }
a { color: #30322f; }
a:focus, a:hover { text-decoration: none; color: #f86e01; outline: none; }
p { }
p:last-child { margin-bottom: 0px; }
ul, ol { padding: 0px; }
strong { color: #30322f; }
.listnone { list-style: none; }
.header-transparent { position: absolute; left: 0; right: 0; padding-top: 10px; }
.hero-image { 
  background-image: url(../images/products_grid_1.jpg); 
  padding-top: 160px; 
  padding-bottom: 160px;
    background-position-y: 0;
    animation:slowScroll 60s;
    animation-iteration-count:3;
    animation-delay:0.5s;
    animation-timing-function:ease-in-out;
   }

  @keyframes slowScroll{
    0%, 100%{      
        background-position-y: 0; 
    }
    50%{  
        background-position-y: -480px; 
    }
}
.header-white { background-color: #fff; -webkit-box-shadow: 0px 1px 1px 0px rgba(127, 136, 125, 0.2); -moz-box-shadow: 0px 1px 1px 0px rgba(127, 136, 125, 0.2); box-shadow: 0px 1px 1px 0px rgba(127, 136, 125, 0.2); position: relative; min-height: 60px; font-size: 15px; }
.header-link { text-align: right; padding-top: 20px; }
.header-link a { padding-left: 20px; font-weight: 600;  color: #000;}
.bg-default { background-color: #f3f5f2; }
.nopadding { padding: 0px; }
.nopl { padding-left: 0px; }
.nopr { padding-right: 0px; }
.header-logo { line-height: 60px; border-right: 1px solid #eee; padding-right: 30px }
.header-logo, .header-search-form, .store-cart-action { }
.header-nav { }
.header-nav a { font-size: 15px; display: inline-block; font-weight: 600; }
.header-nav a:hover { background-color: #f3f5f2 }
.show-on-hover:hover > ul.dropdown-menu { display: block; }
.store-location { padding-right: 10px; }
.header-left { }
.header-item { display: inline-block; position: relative; text-align: center; vertical-align: top; }
.header-address { padding-left: 20px; }
.header-white .user-address { position: relative; line-height: 60px; padding: 0 20px; }

.search-form { margin-top: 0px; }
.search-form .form-control { height: 40px; }
.header-search-form .btn-default { height: 40px; background-color: #fafbfa; border: 1px solid #d7dcd6; color: #999f98; }
.header-search-form .btn-default:hover { height: 40px; background-color: #fafbfa; border: 1px solid #d7dcd6; color: #999f98; }
.header-search-form .btn-default:active:focus, .header-search-form .btn-default:active:hover { color: #333; background-color: #fafbfa; border-color: #fafbfa; }
.header-search-form { position: relative; z-index: 99; width: 100%; }
.overlay { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); position: absolute; top: 0; left: 0; display: none; z-index: 9; }
.header-search-form.focusDiv { position: relative; z-index: 9; width: 100%; }
.overflow-y-hidden { overflow-y: hidden; }
.header-right { text-align: right; line-height: 60px; }
.header-dropdown { padding-right: 30px; display: inline-block; line-height: 60px; }
.header-item-account { }
.header-dropdown .dropdown-menu { border-radius: 2px; border: 1px solid #d7dcd6; min-width: 240px; -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .175); box-shadow: 0 0px 0px rgba(0, 0, 0, .175); padding: 0px; margin: 0px; position: absolute; top: 100%; left: inherit; right: 0; z-index: 2090; }
.dropdown-menu>li>a { padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #d7dcd6; }

/*--------- Side Navigation -------*/
#wrapper { padding-left: 0; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
#wrapper.toggled { padding-left: 250px; }
#sidebar-wrapper { z-index: 1000; position: fixed; left: 250px; width: 0; margin-left: -250px; overflow-y: auto; background: #1E1E21; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
#wrapper.toggled #sidebar-wrapper { width: 250px; }
#page-content-wrapper { width: 100%; position: absolute; }
#wrapper.toggled #page-content-wrapper { position: absolute; margin-right: -250px; }

/* Sidebar Styles */
#wrapper { }
#wrapper.toggled { padding-left: 0; }
#sidebar-wrapper { width: 280px; }
#wrapper.toggled #sidebar-wrapper { width: 0; }
#page-content-wrapper { position: relative; }
#wrapper.toggled #page-content-wrapper { position: relative; margin-right: 0; }
.side-nav { border-right: 1px solid #d7dcd6; }
.side-menu { margin-bottom: 40px; }
#side-menu, #side-menu ul, #side-menu ul li, #side-menu ul li a { margin: 0; padding: 0; border: 0; list-style: none; line-height: 1; display: block; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#side-menu { color: #ffffff; }
#side-menu ul ul { display: none; }
#side-menu > ul > li.active > ul { display: block; }
.align-right { float: right; }
.menu-toggle { z-index: 9; display: none; }
#side-menu > ul > li > a { padding: 16px 40px 16px 30px; cursor: pointer; z-index: 2; font-size: 14px; text-decoration: none; color: #333; background: #fff; -webkit-transition: color .2s ease; -o-transition: color .2s ease; transition: color .2s ease; border-bottom: 1px solid #eee; font-weight: 600; }
#side-menu > ul > li > a:hover { color: #522e5b; background-color: #f3f5f2; }
#side-menu > ul > li.open > a { color: #522e5b; background-color: #f3f5f2; }
#side-menu > ul > li.open a { border-bottom: 1px solid #eee; background-color: #f3f5f2; }
#side-menu > ul > li.open ul li a { padding-left: 50px; background-color: #fff; }
#side-menu > ul > li.open ul li.selected a { color: #f86e01; }
#side-menu > ul > li.open ul li a:hover { background-color: #f3f5f2; }

#side-menu ul > li.has-sub > a:after { position: absolute; left: 16px; top: 16px; z-index: 5; display: block; height: 10px; width: 2px; background: #f86e01; content: ""; -webkit-transition: all 0.1s ease-out; -moz-transition: all 0.1s ease-out; -ms-transition: all 0.1s ease-out; -o-transition: all 0.1s ease-out; transition: all 0.1s ease-out; }
#side-menu ul > li.has-sub > a:before { position: absolute; left: 12px; top: 20px; display: block; width: 10px; height: 2px; background: #f86e01; content: ""; -webkit-transition: all 0.1s ease-out; -moz-transition: all 0.1s ease-out; -ms-transition: all 0.1s ease-out; -o-transition: all 0.1s ease-out; transition: all 0.1s ease-out; }
#side-menu ul > li.has-sub.open > a:after, #side-menu ul > li.has-sub.open > a:before { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
#side-menu ul ul li a { padding: 16px 20px; cursor: pointer; z-index: 2; font-size: 14px; text-decoration: none; color: #6A6A6F; -webkit-transition: color .2s ease; -o-transition: color .2s ease; transition: color .2s ease; font-weight: 600; }
#side-menu ul ul ul li a { padding-left: 32px; }
#side-menu ul ul li a:hover { color: #f86e01; }
#side-menu ul ul > li.has-sub > a:after { top: 16px; right: 26px; background: #6A6A6F; }
#side-menu ul ul > li.has-sub > a:before { top: 20px; background: #6A6A6F; }

/*-------------------------------
    Page breadcrumb
---------------------------------*/
.page-breadcrumb { background-color: #f3f5f2; border-bottom: 1px solid #d7dcd6; padding-top: 8px; padding-bottom: 7px; }
.page-breadcrumb .breadcrumb { padding: 8px 15px; margin-bottom: 0px; list-style: none; background-color: #f3f5f2; border-radius: 4px; font-size: 13px; }
.page-title { margin-bottom: 0px; }
.page-section { padding-top: 60px; padding-bottom: 60px; }

/*-------------------------------
    Website Input & Buttons
---------------------------------*/
.form-control { background-color: #fafbfa; border: 1px solid #d7dcd6; -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075); box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075); height: 50px; border-radius: 2px; }
.control-label { }
button { }
.input-group-addon { background-color: #fafbfa; border: 1px solid #d7dcd6; }

/*-------------------------------
    Website all buttons
---------------------------------*/
.btn { padding: 5px 12px; border-radius: 4px; font-size: 14px; font-weight: 600; }
.btn-default { color: #fff; background-color: #522e5b; border-color: #522e5b; }
.btn-default:hover { color: #fff; background-color: #301635; border-color: #301635; }
.btn-default.focus, .btn-default:focus { color: #fff; background-color: #301635; border-color: #301635; }
.btn-primary { color: #fff; background-color: #f86e01; border-color: #f86e01; }
.btn-primary:hover { color: #fff; background-color: #ff811e; border-color: #ff811e; }
.btn-primary.focus, .btn-primary:focus { color: #fff; background-color: #ff811e; border-color: #ff811e; }
.btn-grey { background-color: #cccccc; border: 1px solid #cccccc; }
.btn-lg { font-size: 18px; padding: 12px 20px; }
.btn-sm { font-size: 13px; padding: 5px 12px; }
.btn-xs { font-size: 11px; padding: 6px; line-height: 1; }
.btn-link-white { color: #fff; }
.btn-link-white:hover { color: #522e5b; }
.btn-link { color: #522e5b; }
.btn-link:focus, .btn-link:hover { color: #f86e01; text-decoration: underline; background-color: transparent; }
.btn-default:active:focus, .btn-default:active:hover { color: #fff; background-color: #301635; border-color: #301635; }

/*-------------------------------
    Section space
---------------------------------*/
.space-small { padding-top: 40px; padding-bottom: 40px; }
.space-normal { padding-top: 80px; padding-bottom: 80px; }
.space-medium { padding-top: 100px; padding-bottom: 100px; }
.space-large { padding-top: 120px; padding-bottom: 120px; }
.bdr-btm { border-bottom: 1px solid #d7dcd6; }
.store-find-block {     background-color: rgba(255, 255, 255, 0.95); box-shadow: 2px 1px 20px #888; border-radius: 3px; }
.store-logo { padding: 30px 0 0; border-bottom: none; text-align: center; }
.store-find { padding: 40px; text-align: center; }
.store-head { margin-bottom: 30px; }
.store-head h1 { font-weight: 600; }
.store-head h4 { font-size: 14px; color: #999f98; }
.store-form { margin-top: 20px; padding: 10px 30px; }
.store-form .form-control { margin-bottom: 10px; }
.store-footer { background-color: #f3f5f2; padding: 20px; text-align: center; border-radius: 3px;}
.store-footer p { color: #999f98; text-transform: uppercase; font-size: 13px;  }
.social-login-section { }
.social-login-btn { background-color: #eee; font-size: 13px; color: #333; padding: 15px 20px; border-radius: 4px; display: block; width: 100%; font-weight: 600; margin-bottom: 8px; }
.facebook-btn { background-color: #3b5998; color: #fff; }
.facebook-btn:focus, .facebook-btn:hover { background-color: #29488a; color: #fff; }
.twitter-btn { background-color: #00abe9; color: #fff; }
.twitter-btn:focus, .twitter-btn:hover { background-color: #0295ca; color: #fff; }
.googleplus-btn { background-color: #df4a32; color: #fff; }
.googleplus-btn:focus, .googleplus-btn:hover { background-color: #cf4332; color: #fff; }
.success-sign { color: #522e5b; font-size: 34px; }
.phoneModal-popup { }
.phoneModal-popup .close { float: right; font-size: 21px; font-weight: 700; line-height: 1; color: #000; text-shadow: 0 0px 0 #fff; opacity: 1; position: absolute; right: 0px; background: #f3f5f2; padding: 10px 14px; top: 0px; }
.phoneModal-popup .modal-body, .signupModal-popup .modal-body { padding: 0px; }
.phoneModal-popup .modal-dialog { width: 540px; margin: 120px auto; }
.mydivs { }
.mydivs>div { height: 100%; }
.signupModal-popup { }
.signupModal-popup .close { float: right; font-size: 21px; font-weight: 700; line-height: 1; color: #000; text-shadow: 0 0px 0 #fff; opacity: 1; position: absolute; right: 0px; background: #f3f5f2; padding: 10px 14px; top: 0px; }
.productModal_popup { }
.productModal_popup .close, .changelocationModal .close { float: right; font-size: 21px; font-weight: 700; line-height: 1; color: #000; text-shadow: 0 0px 0 #fff; opacity: 1; position: absolute; right: 0px; background: #f3f5f2; padding: 10px 14px; top: 0px; }
.product-variants-list { }
.product-variant { margin-bottom: 20px; }
.product-variant-label { color: #333; }
.product-variant-btn { background-color: #fff; border-radius: 3px; border: 1px solid #ccc; display: inline-block; font-size: 14px; min-height: 32px; min-width: 32px; padding: 4px 12px; margin: 10px 16px 10px 0; }
.product-variant-btn-active { background-color: #fff; border-radius: 3px; border: 1px solid #e96125; color: #e96125; }
.product-variant-btn-disabled { border: 1px solid #ccc !important; color: #ccc; opacity: .4; background: transparent; }
.productModal_popup .sp-quantity { float: none; margin-bottom: 20px; }
.changelocationModal { text-align: center; }
.changelocationModal .modal-body { padding: 80px 30px; }
.changelocationModal .modal-body h2 { font-size: 26px; }
.changelocationModal .exclamation-icon { color: #f83c36; margin-bottom: 30px; }
.changelocationModal-content { margin-bottom: 20px; }
.changelocationModal .modal-content { margin-top: 120px; }

/*-------------------------------
    Feature block css
---------------------------------*/
.feature-block { margin-bottom: 20px; margin-top: 20px; }
.feature-title { font-size: 16px; }
.feature-icon { }
.feature-content { }
.feature-icon-bg { border: 1px solid #d7dcd6; background-color: #fff; width: 60px; height: 60px; text-align: center; padding: 18px; }

/* if feature needs left - conditional class*/
.feature-left { }
.feature-left .feature-icon { float: left; padding-right: 10px; color: #a0a39f; font-size: 18px; }
.feature-left .feature-content { padding-left: 80px; }

/*------------------------------
    Footer
--------------------------------*/
.about-info { }
.footer-title { font-size: 16px; margin-bottom: 20px; }
.footer-block { border-right: 1px solid #d7dcd6; padding-top: 60px; padding-bottom: 30px; padding-right: 40px; min-height: 320px; }
.footer-social { margin-top: 30px; border-top: 1px solid #d7dcd6; padding-top: 30px; }
.footer-social a { padding-right: 10px; font-size: 28px; }

/*---------- download app icon ---------*/
.app-action { }
.app-action a { display: inline-block; margin-bottom: 5px; }
.app-btn { width: 100%; }
.tinyfooter { border-top: 1px solid #d7dcd6; padding-top: 20px; padding-bottom: 20px; }
.footer-text { letter-spacing: 1px; font-weight: normal; font-size: 12px; }
.store-list-wrapper { border-top: 1px solid #d7dcd6; margin-bottom: 30px; margin-top: 5px; display: inline-block; border-right: 1px solid #d7dcd6; }
.store-company-page { margin-top: 60px; }
.store-block { padding: 28px; border: 1px solid #f1f3f1; text-align: center; transition: all 0.2s ease-in-out 0s; transform: translateY(0) !important; margin-bottom: 30px; }
.store-block:hover { transform: translateY(-6px) !important; -moz-box-shadow: 0 10px 25px 5px rgba(213, 216, 213, 0.2); -webkit-box-shadow: 0 10px 25px 5px rgba(213, 216, 213, 0.2); box-shadow: 0 10px 25px 5px rgba(213, 216, 213, 0.2); }
.store-company { border: 1px solid #f1f3f1; border-radius: 100%; width: 155px; margin: 0 auto; margin-bottom: 30px; }
.store-info { margin-bottom: 30px; }
.store-title { }
.store-cart-action { position: relative; line-height: 60px; }
.store-cart-action .badge { position: absolute; left: 8px; top: 12px; }
.mycart-header { padding: 20px; }
.store-cart-panel { }
.store-cart-panel .modal-header { background-color: #333; color: #fff; padding: 0px; position: fixed; top: 0px; width: 100%; background: #333; z-index: 9; }
.store-cart-panel .modal-header .modal-title { color: #fff; font-size: 17px; font-weight: 700 }
.store-cart-panel .modal-header .close { float: right; font-size: 21px; font-weight: 700; line-height: 1; color: #fff; text-shadow: 0 1px 0 #fff; filter: alpha(opacity=20); opacity: .9; margin-top: 20px; margin-right: 20px; }
.store-shop-panel { background-color: #fff; color: #333; }
.store-logo-img { }
.store-mycart-info { padding: 50px 20px 0px 0px; text-align: right; }
.modal.left .modal-dialog, .modal.right .modal-dialog { position: fixed; margin: auto; width: 420px; height: 100%; -webkit-transform: translate3d(0%, 0, 0); -ms-transform: translate3d(0%, 0, 0); -o-transform: translate3d(0%, 0, 0); transform: translate3d(0%, 0, 0); }
.modal.left .modal-content, .modal.right .modal-content { height: 100%; overflow-y: auto; }
.modal.left .modal-body, .modal.right .modal-body { padding: 15px 15px 80px; }

/*Left*/
.modal.left.fade .modal-dialog { left: -320px; -webkit-transition: opacity 0.3s linear, left 0.3s ease-out; -moz-transition: opacity 0.3s linear, left 0.3s ease-out; -o-transition: opacity 0.3s linear, left 0.3s ease-out; transition: opacity 0.3s linear, left 0.3s ease-out; }
.modal.left.fade.in .modal-dialog { left: 0; }

/*Right*/
.modal.right.fade .modal-dialog { right: -320px; -webkit-transition: opacity 0.3s linear, right 0.3s ease-out; -moz-transition: opacity 0.3s linear, right 0.3s ease-out; -o-transition: opacity 0.3s linear, right 0.3s ease-out; transition: opacity 0.3s linear, right 0.3s ease-out; }
.modal.right.fade.in .modal-dialog { right: 0; }

/* ----- MODAL STYLE ----- */
.modal-content { border-radius: 0; border: none; background-color: #fff; position: relative; }
.modal-footer { padding: 15px;    /* text-align: right; */ border-top: 1px solid #e5e5e5; position: fixed; bottom: 0px; z-index: 9; background: #f3f5f2; width: 100%; }
.store-cart-panel .modal.left .modal-body, .modal.right .modal-body { padding: 65px 0px 20px 0px; }
.product-items { font-size: 12px; margin-bottom: 10px; display: inline-block; width: 100%; }
.product-items .sp-quantity { float: left; }
/*.product-items .price-cancelled { float: left; font-size: 16px; padding-right: 10px; padding-left: 20px; margin-top: 4px; }*/
.product-items .price { float: left; font-size: 16px; padding-right: 10px; padding-left: 0px; margin-top: 4px; }
.product-items .total-price { float: right; font-size: 16px; font-weight: 600; }
.mycart-product-listing { padding: 0px 20px 0px 0px; }
.mycart-product-listing ul { }
.mycart-product-listing ul li { border-bottom: 1px solid #d7dcd6; margin-top: 14px;
        margin-left: 14px; }
.mycart-product-listing .total-price { float: right; color: #333; }
.mycart-product-img { width: 100px; height: 100px; position: relative; }
.mycart-product-info {   }
.store-cart-panel .modal-footer { background-color: #f3f5f2; text-align: center; }
.product-details { }
.product-details .modal-body { padding: 0px; margin-top: 0px; }
.offer-ratio { color: #f86e01; margin-bottom: 20px; text-decoration: underline; display: block; }
/*.product-details .price { color: #333; font-size: 18px; }*/
/*.old-price { color: #afb2af; padding-right: 5px; font-size: 18px; text-decoration: line-through; }*/
.product-features { padding-top: 30px; }
.product-features table tr td, .product-features table tr th { padding: 14px 16px; }
.table-title { margin-bottom: 20px; }
.product-features table tr th { color: #333; }
.product-features .table-bordered>tbody>tr>td, .product-features .table-bordered>tbody>tr>th, .product-features .table-bordered>tfoot>tr>td, .product-features .table-bordered>tfoot>tr>th, .product-features .table-bordered>thead>tr>td, .product-features .table-bordered>thead>tr>th { border: 1px solid #d7dcd6; }
.product-slider { }
.product-slider .owl-buttons { }
.product-slider .owl-controls .owl-buttons div { color: #333; display: inline-block; zoom: 1; margin: 0px; padding: 4px 8px; font-size: 22px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; background: #fff; filter: Alpha(Opacity=50); line-height: 1; }
.owl-prev { position: absolute; top: 40%; left: 0px; }
.owl-next { position: absolute; top: 40%; right: 0px; }

/*-----------------------------
Product block
------------------------------*/
.product-category-block { padding: 30px 30px 30px 0px; }
.product-block { border: 1px solid transparent; padding: 18px; border-left: 1px solid #d7dcd6; border-bottom: 1px solid #d7dcd6; min-height: 380px; }
.product-block:hover { border: 1px solid #d5dbd4; }
.product-img { margin-bottom: 30px; }
.product-img img { width: 100%; transition: all 0.2s ease-in-out 0s; transform: translateY(0) !important; }
.product-block:hover img { transform: translateY(-8px) !important; }
.product-description { position: relative; }
.product-title { }
.product-info { }
.small-info { color: #969995; }
.product-price { margin-top: 20px; }
/*.product-price .price { font-weight: 600; font-size: 20px; color: #333; }*/
.addcart-block { float: right; }
/*.price-cancelled { font-size: 20px; text-decoration: line-through; }*/
.spacial-offer { color: #522e5b; font-size: 14px; font-weight: 600; position: absolute; top: -20px; }

/*-----------------------------
Step Wizard
------------------------------*/
.checkout-wrapper { padding-top: 40px; padding-bottom: 40px; background-color: #fafbfa; }
.checkout { background-color: #fff; border: 1px solid #d7dcd6; font-size: 14px; margin-bottom: 20px; }
.panel { margin-bottom: 0px; }
.checkout-step { border-bottom: 1px solid #f2f2f2; color: #666; font-size: 14px; padding: 30px; position: relative; }
.checkout-step:last-child { border-bottom: 1px solid transparent; }
.checkout-step-number { border-radius: 50%; border: 1px solid #666; display: inline-block; font-size: 12px; height: 32px; margin-right: 26px; padding: 6px; text-align: center; width: 32px; }
.checkout-step-title { font-size: 18px; font-weight: 500; vertical-align: middle; display: inline-block; margin: 0px; }
.checout-address-step { margin-bottom: 30px; }
.checout-address-step .form-group { margin-bottom: 18px; display: inline-block; width: 100%; }
.checkout-step-body { padding-left: 60px; padding-top: 20px; }
.checkout-step-body button.btn { height: 50px; line-height: 36px; width: 139px;}
.checkout-step-body .form-control { margin-bottom: 10px; }
.checkout-step-active { display: block; }
.checkout-step-disabled { display: none; }
.checkout-login { }
.checkout_login_msg { margin-bottom: 30px; }
.login-phone { }
.login-phone:after { content: '+91 - '; font-size: 14px; left: 36px; }
.login-phone:before { content: ""; font-style: normal; color: #333; font-size: 18px; left: 12px; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.login-phone:after, .login-phone:before { position: absolute; top: 44%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.login-phone .form-control { padding-left: 68px; font-size: 14px; }
.checkout-login .btn { height: 42px; line-height: 1.8; }
.otp-verifaction { }
.checkout-sidebar { background-color: #fff; border: 1px solid #d7dcd6; padding: 30px; margin-bottom: 30px; }
.checkout-sidebar-merchant-box { background-color: #fff; border: 1px solid #d7dcd6; margin-bottom: 30px; }
.checkout-total { border-bottom: 1px solid #d7dcd6; padding-bottom: 10px; margin-bottom: 10px; }
.checkout-invoice { display: inline-block; width: 100%; }
.checout-invoice-title { float: left; color: #30322f; }
.checout-invoice-price { float: right; color: #30322f; }
.checkout-charges { display: inline-block; width: 100%; }
.checout-charges-title { float: left; color: #666; }
.checout-charges-price { float: right; }
.charges-free { color: #522e5b; font-weight: 600; }
.checkout-payable { display: inline-block; width: 100%; color: #333; }
.checkout-payable-title { float: left; }
.checkout-payable-price { float: right; }
.checkout-cart-merchant-box { padding: 20px; display: inline-block; width: 100%; border-bottom: 1px solid #d7dcd6; padding-bottom: 20px; }
.checkout-cart-merchant-name { color: #30322f; float: left; }
.checkout-cart-merchant-item { float: right; color: #30322f; }
.checkout-cart-products { }
.checkout-cart-products .checkout-charges { padding: 10px 20px; color: #333; }
.checkout-cart-item { border-bottom: 1px solid #d7dcd6; box-sizing: border-box; display: table; font-size: 12px; padding: 12px 20px; width: 100%; }
.checkout-item-list { }
.checkout-item-count { float: left; font-weight: 600; font-size: 14px; color: #333; }
.checkout-item-img { width: 60px; float: left; border: 1px solid #d7dcd6; margin-left: 10px; margin-right: 10px; }
.checkout-item-name-box { float: left; max-width: 200px; }
.checkout-item-title { color: #30322f; font-size: 14px; }
.checkout-item-unit { }
.checkout-item-price { float: right; color: #30322f; font-size: 14px; font-weight: 600; }
.checkout-viewmore-btn { padding: 10px; text-align: center; }
.header-checkout-item { text-align: right; padding-top: 20px; }
.checkout-promise-item { background-repeat: no-repeat; background-size: 14px; display: inline-block; margin-left: 20px; padding-left: 24px; color: #30322f; }
.checkout-promise-item i { padding-right: 10px; color: #522e5b; }
.goto-next { margin-top: 20px; }
.addressModal { }
.addressModal .modal-body { padding: 30px; }
.addressModal .close { float: right; font-size: 21px; font-weight: 700; line-height: 1; color: #000; text-shadow: 0 0px 0 #fff; opacity: 1; position: absolute; right: 0px; background: #f3f5f2; padding: 10px 14px; top: 0px; }
.addnews-address-form { }
.addnews-address-form .form-group { display: inline-block; width: 100%; }
.addnews-address-form label { color: #333; display: inline-block; padding-right: 20px; }

.editaddressModal{}
.editaddressModal .modal-body{padding: 30px;}

.editaddressModal .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 0px 0 #fff;
     
    opacity: 1;
    position: absolute;
    right: 0px;
    background: #f3f5f2;
    padding: 10px 14px;
    top: 0px;
}
.edit-address-form-panel{}
.edit-address-form-panel .form-group{display: inline-block; width: 100%;}
.edit-address-form-panel label{color: #333;    display: inline-block; padding-right: 20px;}


.select-locations { margin-bottom: 10px; margin-top: 20px; }
.checkout-payment-mode { margin-bottom: 40px; }
.control-group { display: inline-block; vertical-align: top; background: #fff; text-align: left; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); padding: 30px; width: 200px; height: 210px; margin: 10px; }
.control { display: block; position: relative; padding-left: 30px; cursor: pointer; font-size: 16px; font-weight: normal; }
.control input { position: absolute; z-index: -1; opacity: 0; }
.control__indicator { position: absolute; top: 0px; left: 0; height: 20px; width: 20px; background: transparent; border: 2px solid #d7dcd6; }
.control--radio .control__indicator { border-radius: 50%; }
.control:hover input ~ .control__indicator, .control input:focus ~ .control__indicator { background: #fff; border: 2px solid #f86e01; }
.control input:checked ~ .control__indicator { background: #f86e01; border: 2px solid #f86e01; }
.control:hover input:not([disabled]):checked ~ .control__indicator, .control input:checked:focus ~ .control__indicator { background: #f86e01; }
.control input:disabled ~ .control__indicator { background: #f86e01; opacity: 0.6; pointer-events: none; }
.control__indicator:after { content: ''; position: absolute; display: none; }
.control input:checked ~ .control__indicator:after { display: block; }
.control--checkbox .control__indicator:after { left: 8px; top: 4px; width: 3px; height: 8px; border: solid #fff; border-width: 0 2px 2px 0; transform: rotate(45deg); }
.control--checkbox input:disabled ~ .control__indicator:after { border-color: #7b7b7b; }
.control--radio .control__indicator:after { left: 5px; top: 5px; height: 6px; width: 6px; border-radius: 50%; background: #fff; }
.control--radio input:disabled ~ .control__indicator:after { background: #7b7b7b; }
.checkout-time-table { margin-top: 0px; margin-bottom: 0px; }
.checkout-time-table label { margin-bottom: 0px; }
.checkout-time-table .list-group { padding-left: 0; margin-bottom: 20px; }
.checkout-time-table .tab-content{overflow: scroll;}
.checkout-time-table .list-group-item { position: relative; display: block; padding: 10px 15px; margin-bottom: -1px; background-color: #fff; border: 1px solid #d7dcd6; }
.checkout-time-table .list-group-item:first-child { border-top-left-radius: 0px; border-top-right-radius: 0px; border-top: transparent; }
.checkout-time-table .list-group-item:last-child { margin-bottom: 0; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
.checkout-time-table .tab-content { height: 245px; overflow: scroll; }
.nav-tabs>li>a { margin-right: 2px; line-height: 1.42857143; border: 1px solid transparent; border-radius: 4px 4px 0 0; background: #fafbfa; border-radius: 0px; border: 1px solid #d7dcd6; }
.nav>li>a:focus, .nav>li>a:hover { text-decoration: none; background-color: #d7dcd6; }
.nav-tabs.nav-justified>li>a { border-bottom: 1px solid #d7dcd6; border-radius: 0px; }
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover { border: 1px solid #d7dcd6; border-bottom-color: #fff; }


.checkout-promo-code{text-align: center; }
.checkout-promo-cta{background-color: #f5f7f4; border: 1px solid #d7dcd6; padding: 20px; margin-bottom: 30px; display: inline-block; width: 100%;}
.checkout-promo-cta:hover{background-color: #fbfcfb;}
/*----------------------------------
    Dashboard Wrapper
-----------------------------------*/
.dashboard-wrapper { background-color: #fafbfa; padding-top: 40px; padding-bottom: 40px; }
.dashboard-content { background-color: #fff; border: 1px solid #d7dcd6; }
.dashboard-profile { }
.dashboard-profile-left { border-right: 1px solid #d7dcd6; }
.profile-block { padding-top: 30px; padding-bottom: 30px; text-align: center; border-bottom: 1px solid #d7dcd6; }
.profile-number { margin-top: 10px; margin-bottom: 10px; }
.profile-navigation { }
.profile-navigation .nav>li>a { position: relative; display: block; padding: 16px 15px; border-bottom: 1px solid #d7dcd6; line-height: 1; color: #6f6f6f; }
.profile-navigation .nav>li>a i { padding-right: 6px; }
.profile-navigation .nav-stacked>li+li { margin-top: 0px; }
.profile-navigation .nav>li>a:focus, .profile-navigation .nav>li>a:hover { text-decoration: none; background-color: #fafbfa; color: #30322f; }
.profile-navigation .nav>li a.active { background-color: #fafbfa; color: #f86e01; }
.dashboard-profile-right { }
.dashboard-profile-content { padding: 30px; border-left: 1px solid #d7dcd6; margin-left: -1px; }
.my-order { }
.my-order-group { }
.my-order-list-head { background-color: #fafbfa; padding: 20px; }
.my-order .list-group-item { border: 1px solid #d7dcd6; }
.my-order-list-head .btn { float: right; }
.my-order .list-group-item:first-child { border-top-left-radius: 1px; border-top-right-radius: 1px; }
.my-order .list-group-item:last-child { margin-bottom: 0; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin-top: -2px; }
.my-order-title { margin-bottom: 0px; }
.my-order-delivery { }
.my-order-info { }
.my-order-date, .my-order-id { font-size: 13px; }
.my-order-id-number { }
.my-order-id-item { padding-left: 10px; }
.my-order-block { padding: 20px; }
.list-group-item.my-order-details-block { padding: 0px; }
.my-order-details { padding: 20px; border-bottom: 1px solid #eee; }
.my-order-refund, .my-order-showaddress { padding: 6px 20px; }
.my-order-showaddress { text-align: center; }
.my-order-price { padding-top: 20px; color: #30322f; }
.my-order-list-title { margin-bottom: 6px; }
.my-order-view-dashboard { padding: 30px; background-color: #fff; border: 1px solid #d7dcd6; }
.my-order-view-content { }
.my-order-view-sidebar { }
.back-link-block { padding-bottom: 20px; }
.back-link-block .back-arrow { padding-right: 10px; }

/*--------------------------
    My address 
----------------------------*/
.dashboard-address-content { padding: 30px; border-left: 1px solid #d7dcd6; margin-left: -1px; }
.address-block { padding: 20px; border: 1px solid #d7dcd6; margin-bottom: 30px; }
.address-locations { }
.address-name { }
.dashboard-cash-content { padding: 30px; border-left: 1px solid #d7dcd6; margin-left: -1px; }
.cash-info { padding-top: 120px; text-align: center; padding-bottom: 120px; }
.cash-icon { font-size: 24px !important; }
.your-cash { font-size: 30px; color: #30323f; }
.cash-block { }
.my-account-dropdown { position: relative; display: inline-block; }
.my-account-dropdown .dropdown-menu { left: inherit; right: 0; min-width: 240px; border-radius: 0px; padding: 0px; }
.my-account-dropdown .dropdown-menu li { }
.my-account-dropdown .dropdown-menu li a { padding: 16px 14px; font-weight: 500; line-height: 14px; }
.my-account-dropdown .dropdown-menu li a .fa { padding-right: 10px; color: #696969; }
.user-profile { padding: 10px 20px; border-bottom: 1px solid #eee; }
.user-profile-img img { width: 40px; }
.user-name { color: #333; padding-left: 20px; font-weight: 600; }

/*
 * Off Canvas
 * --------------------------------------------------
 */
body { overflow-x: hidden;    /* Prevent scroll on narrow devices */ }
@media screen and (max-width:767px) {
    .row-offcanvas { position: relative; -webkit-transition: all .25s ease-out; -o-transition: all .25s ease-out; transition: all .25s ease-out; }
    .row-offcanvas-right { right: 0; }
    .row-offcanvas-left { left: 0; }
    .row-offcanvas-right .sidebar-offcanvas { right: -50%;        /* 6 columns */ }
    .row-offcanvas-left .sidebar-offcanvas { left: -48%;        /* 6 columns */ }
    .row-offcanvas-right.active { right: 50%;        /* 6 columns */ }
    .row-offcanvas-left.active { left: 50%;        /* 6 columns */ }
    .sidebar-offcanvas { position: absolute; top: 0; width: 50%;        /* 6 columns */ }
}
.side-nav-btn-control{margin-left: 18px;}
.header { background-color: #fff;  color: #fff; font-size: 14px; height: 60px; position: relative; width: 100%; z-index: 1000; }
.header .header_item { display: inline-block; height: 60px; vertical-align: middle; }
.header .header-item-address { padding: 0 0 0 25px; width: 155px; }
.header_left { display: inline-block; margin-right: -4px; max-width: calc(100% - 100px); }
.header .user-address { position: relative; line-height: 60px; padding: 0 20px; }
.header .header_item_content { display: inline-block; padding: 12px 8px 12px 12px; }

.search { left: 386px; top: 2px; position: absolute; width: calc(100% - 680px); z-index: 2001; }
.header_right { display: inline-block; float: right; margin-left: -4px; }

/*
 * Media Query
 * --------------------------------------------------
 */

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width:1300px) { 
.mycart-product-info {
    padding-top: 0px;
}
.mycart-product-listing ul li {
    border-bottom: 1px solid #d7dcd6;
    margin-top: 14px;
        margin-left: 14px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width:992px) { .mycart-product-info {
    padding-top: 0px;
}
.mycart-product-listing ul li {
    border-bottom: 1px solid #d7dcd6;
    margin-top: 14px;
        margin-left: 14px;
}}

/* Small Devices, Tablets */
@media only screen and (max-width:768px) {
    .product-category-block { padding: 10px 0px 10px 0px; }
    .header { background-color: #fff; box-shadow: 0 0 10px 0 rgba(0, 0, 0, .07); color: #fff; font-size: 14px; height: 120px; position: relative; width: 100%; z-index: 1000; }
    .search { left: 0; margin: 0 10px; top: 58px; width: calc(100% - 20px); border-top: 1px solid #eee; }
    .header .header-item-address { box-sizing: border-box; font-size: 13px; padding: 14px 25px 11px 5px; width: calc(100% - 50px); }
    .header .user-address { position: relative; line-height: 30px; padding: 0 20px; }
    .header-dropdown { padding-right: 30px; display: inline-block; line-height: 60px; padding-left: 10px; font-size: 20px; }
    .footer-block {
    border-right:1px solid #d7dcd6;
    
        padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
        min-height: 260px;
}
.mycart-product-info {
    padding-top: 0px;
}
.mycart-product-listing ul li {
    border-bottom: 1px solid #d7dcd6;
    margin-top: 14px;
        margin-left: 14px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width:480px) {
    .header-link { text-align: right; padding-top: 0px; }
    .product-category-block { padding: 10px 0px 10px 0px; }
    .search { left: 0; margin: 0 10px; top: 58px; width: calc(100% - 20px); }
    .header .header-item-address { box-sizing: border-box; font-size: 13px; padding: 14px 25px 11px 5px; width: calc(100% - 50px); }
    .header .user-address { position: relative; line-height: 30px; padding: 0 20px; }
    .header-dropdown { padding-right: 30px; display: inline-block; line-height: 60px; padding-left: 10px; font-size: 20px; }
        .footer-block {
    border-bottom:1px solid #d7dcd6;
    border-right: 0px;
        padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
        min-height: 260px;
}
.store-find {
    padding: 20px;
    text-align: center;
}
.store-form {
    margin-top: 20px;
    padding: 10px;
}
 .phoneModal-popup .modal-dialog {
    width: 340px;
    margin: 120px auto;
}



}

/* Custom, iPhone Retina */
@media only screen and (max-width:320px) {
    .header-link { text-align: right; padding-top: 0px; }
}