.btn {
    color: $primary-color;

    &:hover {
        color: $primary-color-darkest;
    }

    &:focus {
        box-shadow: none;
    }
}

.btn-cta {
    padding: 8px 16px;
}

.btn-primary {
    color: #fff;
    background: $primary-color;
    border: none;

    
    &:not(:disabled):not(.disabled):active {
        background-color: $primary-color-darkest !important;
        box-shadow: none !important;
    }

    &:hover {
        background-color: $primary-color;
        color: #fff;
        box-shadow: 2px 2px 5px rgba($color: #000, $alpha: 0.2),
                    -2px -2px 5px rgba($color: #000, $alpha: 0.2);
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(236, 113, 35)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}