* {
    outline: none;
}

.logo {
    width: 150px;
}

.nav-link {
    color:  rgba($color: #000, $alpha: .75);
    padding-right: 1.2rem !important;
    padding-left: 1.2rem !important;

    &:hover {
        color:  rgba($color: #000, $alpha: 1);
    }
}

.primary-text {
    color: $primary-color;
}

.secondary-text {
    color: $secondary-color;
}