<footer>
    <section id="footer" class="footers pt-5 pb-3">
      <div class="container pt-5">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
            <div class="footers-logo">
              <img src="assets/img/logo.svg" class="logo" alt="KwikBasket Logo">
            </div>
            <div class="footers-info mt-3">
              <p>Leveraging technology to empower lives in Africa and across the globe</p>
            </div>
            <div class="social-icons mb-3">
              <a target="_blank" href="https://www.facebook.com/kwikbasket"><i id="social-fb"
                  class="fa fa-facebook-square fa-2x social"></i></a>
              <a target="_blank" href="#"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
              <a target="_blank" href="https://www.linkedin.com/company/kwikbasket"><i id="social-li"
                  class="fa fa-linkedin-square fa-2x social"></i></a>
              <a target="_blank" href="https://www.instagram.com/kwikbasket/"><i id="social-in"
                  class="fa fa-instagram fa-2x social"></i></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
            <h5>Company</h5>
            <ul class="list-unstyled">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Partners</a></li>
              <li><a href="#">Investors</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
            <h5>Resources </h5>
            <ul class="list-unstyled">
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Media</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
            <h5>Explore </h5>
            <ul class="list-unstyled">
              <li><a href="#">Technology</a></li>
              <li><a href="#">Careeers</a></li>
              <li><a href="#">Policy</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
            <h5>Reach Out </h5>
            <ul class="list-unstyled">
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Visit Us</a></li>
            </ul>
          </div>

        </div>
      </div>
    </section>
    <section class="copyright border">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12 pt-3">
            <p class="text-muted">© 2020 KwikBasket | All Rights Reserved</p>
          </div>
        </div>
      </div>
    </section>
  </footer>