<footer>
    <div id="footer" class="footers pt-3 pb-3">
      <div class="container pt-5">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
            <div class="footers-logo">
<!--              <img src="assets/img/logo.svg" class="logo" alt="KwikBasket Logo">-->
              <img src="<?= $logo ?>" class="logo" alt="KwikBasket Logo">
            </div>
            <div class="footers-info mt-3">
              <p>3rd Floor, Heritan House 
              <br>Woodlands Road Nairobi, Kenya
              <br> 
              <br>+254780703586 
              <br><a href = "mailto:hello@kwikbasket.com?subject = Feedback&body = Message">
                hello@kwikbasket.com
                </a>
              </p>
            </div>
            <div class="social-icons mb-3">
              <a target="_blank" href="https://www.facebook.com/kwikbasket"><i id="social-fb"
                  class="fa fa-facebook-square fa-2x social"></i></a>
              <!-- <a target="_blank" href="#"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a> -->
              <a target="_blank" href="https://www.linkedin.com/company/kwikbasket"><i id="social-li"
                  class="fa fa-linkedin-square fa-2x social"></i></a>
              <a target="_blank" href="https://www.instagram.com/kwikbasket/"><i id="social-in"
                  class="fa fa-instagram fa-2x social"></i></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
            <h5 class="primary-text">Company</h5>
            <ul class="list-unstyled">
              <li><a href='<?= BASE_URL."/index.php?path=common/home/about_us" ?>'>About Us</a></li>
              <li><a href='<?= BASE_URL."/index.php?path=common/home/careers" ?>'>Careers</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
            <h5 class="primary-text">Explore </h5>
            <ul class="list-unstyled">
              <li><a href='<?= BASE_URL."/index.php?path=common/home/homepage#order-cycle" ?>'>Customers</a></li>
              <li><a href='<?= BASE_URL."/index.php?path=common/home/farmers" ?>'>Farmers</a></li>
              <li><a href='<?= BASE_URL."/index.php?path=common/home/partners" ?>'>Partners</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
            <h5 class="primary-text">Resources </h5>
            <ul class="list-unstyled">
              <li><a href='<?= BASE_URL."/index.php?path=common/home/technology" ?>'>Technology</a></li>
              <li><a href='<?= BASE_URL."/index.php?path=common/home/faq" ?>'>FAQs</a></li>
              <li><a href='<?= BASE_URL."/index.php?path=common/home/blog" ?>'>Blog & Media</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
            <h5 class="primary-text">Reach Out </h5>
            <ul class="list-unstyled">
              <li><a target="_blank" href="https://www.facebook.com/kwikbasket">Facebook</a></li>
              <li><a target="_blank" href="https://www.linkedin.com/company/kwikbasket">LinkedIn</a></li>
              <li><a target="_blank" href="https://www.instagram.com/kwikbasket/">Instagram</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="copyright border">
      <div class="container">
        <div class="row pt-3 pb-1">
          <div class="content-container col-md-12">
            <p class="text-muted">© 2021 KwikBasket | All Rights Reserved</p>
            <ul>
              <li><a href='<?= BASE_URL."/index.php?path=common/home/terms_and_conditions" ?>'>Terms & Conditions</a></li>
              <li><a href='<?= BASE_URL."/index.php?path=common/home/privacy_policy" ?>'>Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>