<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="https://photos.app.goo.gl/avWcasi3g9C3yL4P7"/>
  <link rel="icon" type="image/svg" href="assets/img/favicon.svg">
  <title><?= $store_name; ?> | Fresh Produce Supply Reimagined</title>

  <link rel="preload" href="assets/css/style.min.css" as="style">

  <link rel="stylesheet" href="assets/css/reset.css">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/iziToast.min.css" />
  <link rel="stylesheet" href="assets/css/style.min.css">
  <link rel="stylesheet" href="assets/css/custom.css">
</head>

<body>